*
{
    font-family: 'poppins',sans-serif;
}
.backs
{
    height: 100%;
    width: 100%;
    background-image: url(2305227.jpg);
    position:absolute;
    background-size: cover;

}
.logs
{
    background:transparent;
    justify-content: center;
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 30px;
    backdrop-filter: blur(3px);
    width:400px;
    height: 73vh;
    align-items: center;
    display: flex;
    margin-left: 200px;
    margin-top:120px;

}
h1{
    font-size: 2em;
    color: white;
}
.inputs
{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputs label
{
    position: absolute;
    top:  0.5px;
    left: 5px;
    transform: translateY(-110%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 500s;
}
input:focus ~ label,
input:valid ~ label{
    top: -2px;
}
.inputs input
{
    width: 270px;
    height: 50px;
    background: transparent;
    font-size: 1em;
    border: none;
    outline: none;
    padding: 0 35px 0 5px;
    color:#fff;
}
.buts
{
    width: 60%;
    height: 50px;
    border-radius: 80px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 23px;
    font-weight: 700;
}
